In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Next I will import the data stored on the .CSV file and save it to a dataframe 

Aviation_Data= pd.read_csv('data/Aviation_Data.csv', low_memory=False)

In [3]:
#Now I will start exploring the data

Aviation_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [4]:
#taking a look at a sample of the data

Aviation_Data.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [5]:
Aviation_Data['Total.Fatal.Injuries'].value_counts()

Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
156.0        1
68.0         1
31.0         1
115.0        1
176.0        1
Name: count, Length: 125, dtype: int64

In [6]:
#see if there are re-occuring event id's
Aviation_Data['Event.Id'].value_counts()

Event.Id
20001212X19172    3
20001214X45071    3
20220730105623    2
20051213X01965    2
20001212X16765    2
                 ..
20001211X14216    1
20001211X14239    1
20001211X14207    1
20001211X14204    1
20221230106513    1
Name: count, Length: 87951, dtype: int64

In [7]:
Aviation_Data['Number.of.Engines'].value_counts()

Number.of.Engines
1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: count, dtype: int64

In [8]:
Aviation_Data['Engine.Type'].value_counts()

Engine.Type
Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
Geared Turbofan       12
Electric              10
LR                     2
NONE                   2
Hybrid Rocket          1
UNK                    1
Name: count, dtype: int64

In [9]:
Aviation_Data['Accident.Number'].value_counts()

Accident.Number
CEN22LA149    2
WPR23LA041    2
WPR23LA045    2
DCA22WA214    2
DCA22WA089    2
             ..
LAX92FA065    1
ANC92T#A12    1
MIA92LA049    1
NYC92LA048    1
ERA23LA097    1
Name: count, Length: 88863, dtype: int64

In [10]:
Aviation_Data['Injury.Severity'].value_counts()

Injury.Severity
Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(270)        1
Fatal(60)         1
Fatal(43)         1
Fatal(143)        1
Fatal(230)        1
Name: count, Length: 109, dtype: int64

In [11]:
Aviation_Data['Aircraft.Category'].value_counts()

Aircraft.Category
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: count, dtype: int64

In [12]:
Aviation_Data['Make'].value_counts()

Make
Cessna             22227
Piper              12029
CESSNA              4922
Beech               4330
PIPER               2841
                   ...
Leonard Walters        1
Maule Air Inc.         1
Motley Vans            1
Perlick                1
ROYSE RALPH L          1
Name: count, Length: 8237, dtype: int64

In [13]:
Aviation_Data['Model'].value_counts()

Model
152              2367
172              1756
172N             1164
PA-28-140         932
150               829
                 ...
GC-1-A              1
737-3S3             1
MBB-BK117-B2        1
GLASSAIR GL25       1
M-8 EAGLE           1
Name: count, Length: 12318, dtype: int64

In [14]:
Aviation_Data['Amateur.Built'].value_counts()

Amateur.Built
No     80312
Yes     8475
Name: count, dtype: int64

In [15]:
Aviation_Data['Total.Fatal.Injuries'].value_counts()

Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
156.0        1
68.0         1
31.0         1
115.0        1
176.0        1
Name: count, Length: 125, dtype: int64

In [16]:
Aviation_Data['Total.Serious.Injuries'].value_counts()

Total.Serious.Injuries
0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
10.0        13
8.0         13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
20.0         3
25.0         3
28.0         3
21.0         2
59.0         2
50.0         2
17.0         2
47.0         2
137.0        1
19.0         1
161.0        1
27.0         1
35.0         1
67.0         1
33.0         1
88.0         1
125.0        1
53.0         1
34.0         1
41.0         1
18.0         1
63.0         1
55.0         1
23.0         1
43.0         1
39.0         1
45.0         1
44.0         1
16.0         1
60.0         1
106.0        1
81.0         1
15.0         1
22.0         1
Name: count, dtype: int64

In [17]:
Aviation_Data['Total.Minor.Injuries'].value_counts()

Total.Minor.Injuries
0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
10.0        11
12.0        11
14.0        10
11.0         9
17.0         8
19.0         6
18.0         6
24.0         5
22.0         5
25.0         4
16.0         4
15.0         4
33.0         4
20.0         3
21.0         3
26.0         3
23.0         3
32.0         3
27.0         3
50.0         2
30.0         2
36.0         2
31.0         2
28.0         2
42.0         2
38.0         2
57.0         1
65.0         1
84.0         1
43.0         1
35.0         1
380.0        1
47.0         1
68.0         1
200.0        1
71.0         1
58.0         1
171.0        1
39.0         1
96.0         1
29.0         1
69.0         1
62.0         1
45.0         1
125.0        1
40.0         1
Name: count, dtype: int64

In [18]:
Aviation_Data['Total.Uninjured'].value_counts()

Total.Uninjured
0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
558.0        1
412.0        1
338.0        1
401.0        1
455.0        1
Name: count, Length: 379, dtype: int64

In [19]:
##create a new dataframe from the columns that you want to keep

In [20]:
#see what columns you have currently

In [21]:
Aviation_Data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [22]:
stripped_data=Aviation_Data[['Event.Id','Accident.Number','Aircraft.Category',
                             'Amateur.Built',
                             'Make','Model','Number.of.Engines','Engine.Type',
                             'Purpose.of.flight', 'Total.Fatal.Injuries',
                             'Total.Serious.Injuries', 'Total.Minor.Injuries',
                                 'Total.Uninjured']].copy()

In [23]:
stripped_data.head()

,Event.Id,Accident.Number,Aircraft.Category,Amateur.Built,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20001218X45444,SEA87LA080,NaN,No,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
1,20001218X45447,LAX94LA336,NaN,No,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0
2,20061025X01555,NYC07LA005,NaN,No,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN
3,20001218X45448,LAX96LA321,NaN,No,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
4,20041105X01764,CHI79FA064,NaN,No,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0

In [24]:
stripped_data['Make']= stripped_data['Make'].str.title()

In [25]:
stripped_data['Model']= stripped_data['Model'].str.title()

In [28]:
stripped_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Aircraft.Category       32287 non-null  object
 3   Amateur.Built           88787 non-null  object
 4   Make                    88826 non-null  object
 5   Model                   88797 non-null  object
 6   Number.of.Engines       82805 non-null  float64
 7   Engine.Type             81793 non-null  object
 8   Purpose.of.flight       82697 non-null  object
 9   Total.Fatal.Injuries    77488 non-null  float64
 10  Total.Serious.Injuries  76379 non-null  float64
 11  Total.Minor.Injuries    76956 non-null  float64
 12  Total.Uninjured         82977 non-null  float64
dtypes: float64(5), object(8)
memory usage: 9.0+ MB

In [26]:
aircraft_data= stripped_data[stripped_data['Aircraft.Category']== 'Airplane']

In [29]:
aircraft_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27617 entries, 5 to 90345
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                27617 non-null  object
 1   Accident.Number         27617 non-null  object
 2   Aircraft.Category       27617 non-null  object
 3   Amateur.Built           27600 non-null  object
 4   Make                    27608 non-null  object
 5   Model                   27586 non-null  object
 6   Number.of.Engines       24863 non-null  float64
 7   Engine.Type             23391 non-null  object
 8   Purpose.of.flight       23878 non-null  object
 9   Total.Fatal.Injuries    24452 non-null  float64
 10  Total.Serious.Injuries  24393 non-null  float64
 11  Total.Minor.Injuries    24739 non-null  float64
 12  Total.Uninjured         26717 non-null  float64
dtypes: float64(5), object(8)
memory usage: 2.9+ MB

In [31]:
#pro_aircraft_data refers to professional aircraft data, as in
#aircrafts that are not amateur built

pro_aircraft_data= aircraft_data[aircraft_data['Amateur.Built']== 'No']

In [33]:
pro_aircraft_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24417 entries, 5 to 90345
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                24417 non-null  object
 1   Accident.Number         24417 non-null  object
 2   Aircraft.Category       24417 non-null  object
 3   Amateur.Built           24417 non-null  object
 4   Make                    24414 non-null  object
 5   Model                   24399 non-null  object
 6   Number.of.Engines       21866 non-null  float64
 7   Engine.Type             20461 non-null  object
 8   Purpose.of.flight       20734 non-null  object
 9   Total.Fatal.Injuries    21651 non-null  float64
 10  Total.Serious.Injuries  21571 non-null  float64
 11  Total.Minor.Injuries    21855 non-null  float64
 12  Total.Uninjured         23699 non-null  float64
dtypes: float64(5), object(8)
memory usage: 2.6+ MB

In [35]:
pro_aircraft_data.duplicated().value_counts()

False    24415
True         2
Name: count, dtype: int64

In [36]:
pro_aircraft_data[pro_aircraft_data.duplicated()]

,Event.Id,Accident.Number,Aircraft.Category,Amateur.Built,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
89830,20220822105776,ERA22LA379,Airplane,No,Boeing,A75N1,1.0,NaN,Business,0.0,2.0,0.0,2.0
89982,20220921105978,DCA22WA204,Airplane,No,Boeing,787,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [37]:
#there are 1,460 duplicate values in the dataframe.
#if these were actual duplicated values instead of missing values (NAN)
#this could cause a bias in any analysis we use. This data will not 
#have any positive contibution to any analysis we do so we will get rid
#of the duplicates and store the cleaned data in a new Dataframe

In [38]:
#strip the duplicate lines from the data, and store it in a new dataframe

In [39]:
pro_aircraft_data= pro_aircraft_data.drop_duplicates()

In [41]:
#confirm the duped data has been dropped
pro_aircraft_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24415 entries, 5 to 90345
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                24415 non-null  object
 1   Accident.Number         24415 non-null  object
 2   Aircraft.Category       24415 non-null  object
 3   Amateur.Built           24415 non-null  object
 4   Make                    24412 non-null  object
 5   Model                   24397 non-null  object
 6   Number.of.Engines       21865 non-null  float64
 7   Engine.Type             20461 non-null  object
 8   Purpose.of.flight       20733 non-null  object
 9   Total.Fatal.Injuries    21649 non-null  float64
 10  Total.Serious.Injuries  21569 non-null  float64
 11  Total.Minor.Injuries    21853 non-null  float64
 12  Total.Uninjured         23697 non-null  float64
dtypes: float64(5), object(8)
memory usage: 2.6+ MB