In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Next I will import the data stored on the .CSV file and save it to a dataframe 

Aviation_Data= pd.read_csv('data/Aviation_Data.csv', low_memory=False)

In [3]:
#Now I will start exploring the data

Aviation_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [4]:
#taking a look at a sample of the data

Aviation_Data.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [5]:
Aviation_Data['Total.Fatal.Injuries'].value_counts()

Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
156.0        1
68.0         1
31.0         1
115.0        1
176.0        1
Name: count, Length: 125, dtype: int64

In [6]:
#see if there are re-occuring event id's
Aviation_Data['Event.Id'].value_counts()

Event.Id
20001212X19172    3
20001214X45071    3
20220730105623    2
20051213X01965    2
20001212X16765    2
                 ..
20001211X14216    1
20001211X14239    1
20001211X14207    1
20001211X14204    1
20221230106513    1
Name: count, Length: 87951, dtype: int64

In [7]:
Aviation_Data['Number.of.Engines'].value_counts()

Number.of.Engines
1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: count, dtype: int64

In [8]:
Aviation_Data['Engine.Type'].value_counts()

Engine.Type
Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
Geared Turbofan       12
Electric              10
LR                     2
NONE                   2
Hybrid Rocket          1
UNK                    1
Name: count, dtype: int64

In [9]:
Aviation_Data['Accident.Number'].value_counts()

Accident.Number
CEN22LA149    2
WPR23LA041    2
WPR23LA045    2
DCA22WA214    2
DCA22WA089    2
             ..
LAX92FA065    1
ANC92T#A12    1
MIA92LA049    1
NYC92LA048    1
ERA23LA097    1
Name: count, Length: 88863, dtype: int64

In [10]:
Aviation_Data['Injury.Severity'].value_counts()

Injury.Severity
Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(270)        1
Fatal(60)         1
Fatal(43)         1
Fatal(143)        1
Fatal(230)        1
Name: count, Length: 109, dtype: int64

In [11]:
Aviation_Data['Aircraft.Category'].value_counts()

Aircraft.Category
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: count, dtype: int64

In [12]:
Aviation_Data['Make'].value_counts()

Make
Cessna             22227
Piper              12029
CESSNA              4922
Beech               4330
PIPER               2841
                   ...
Leonard Walters        1
Maule Air Inc.         1
Motley Vans            1
Perlick                1
ROYSE RALPH L          1
Name: count, Length: 8237, dtype: int64

In [13]:
Aviation_Data['Model'].value_counts()

Model
152              2367
172              1756
172N             1164
PA-28-140         932
150               829
                 ...
GC-1-A              1
737-3S3             1
MBB-BK117-B2        1
GLASSAIR GL25       1
M-8 EAGLE           1
Name: count, Length: 12318, dtype: int64

In [14]:
Aviation_Data['Amateur.Built'].value_counts()

Amateur.Built
No     80312
Yes     8475
Name: count, dtype: int64

In [15]:
Aviation_Data['Total.Fatal.Injuries'].value_counts()

Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
156.0        1
68.0         1
31.0         1
115.0        1
176.0        1
Name: count, Length: 125, dtype: int64

In [16]:
Aviation_Data['Total.Serious.Injuries'].value_counts()

Total.Serious.Injuries
0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
10.0        13
8.0         13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
20.0         3
25.0         3
28.0         3
21.0         2
59.0         2
50.0         2
17.0         2
47.0         2
137.0        1
19.0         1
161.0        1
27.0         1
35.0         1
67.0         1
33.0         1
88.0         1
125.0        1
53.0         1
34.0         1
41.0         1
18.0         1
63.0         1
55.0         1
23.0         1
43.0         1
39.0         1
45.0         1
44.0         1
16.0         1
60.0         1
106.0        1
81.0         1
15.0         1
22.0         1
Name: count, dtype: int64

In [17]:
Aviation_Data['Total.Minor.Injuries'].value_counts()

Total.Minor.Injuries
0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
10.0        11
12.0        11
14.0        10
11.0         9
17.0         8
19.0         6
18.0         6
24.0         5
22.0         5
25.0         4
16.0         4
15.0         4
33.0         4
20.0         3
21.0         3
26.0         3
23.0         3
32.0         3
27.0         3
50.0         2
30.0         2
36.0         2
31.0         2
28.0         2
42.0         2
38.0         2
57.0         1
65.0         1
84.0         1
43.0         1
35.0         1
380.0        1
47.0         1
68.0         1
200.0        1
71.0         1
58.0         1
171.0        1
39.0         1
96.0         1
29.0         1
69.0         1
62.0         1
45.0         1
125.0        1
40.0         1
Name: count, dtype: int64

In [18]:
Aviation_Data['Total.Uninjured'].value_counts()

Total.Uninjured
0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
558.0        1
412.0        1
338.0        1
401.0        1
455.0        1
Name: count, Length: 379, dtype: int64

In [19]:
##create a new dataframe from the columns that you want to keep

In [20]:
#see what columns you have currently

In [21]:
Aviation_Data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [22]:
stripped_data=Aviation_Data[['Event.Id','Accident.Number','Aircraft.Category',
                             'Amateur.Built',
                             'Make','Model','Number.of.Engines','Engine.Type',
                             'Purpose.of.flight', 'Total.Fatal.Injuries',
                             'Total.Serious.Injuries', 'Total.Minor.Injuries',
                                 'Total.Uninjured']].copy()

In [23]:
stripped_data.head()

,Event.Id,Accident.Number,Aircraft.Category,Amateur.Built,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20001218X45444,SEA87LA080,NaN,No,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
1,20001218X45447,LAX94LA336,NaN,No,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0
2,20061025X01555,NYC07LA005,NaN,No,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN
3,20001218X45448,LAX96LA321,NaN,No,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
4,20041105X01764,CHI79FA064,NaN,No,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0

In [24]:
stripped_data['Make']= stripped_data['Make'].str.title()

In [25]:
stripped_data['Model']= stripped_data['Model'].str.title()

In [26]:
stripped_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Aircraft.Category       32287 non-null  object
 3   Amateur.Built           88787 non-null  object
 4   Make                    88826 non-null  object
 5   Model                   88797 non-null  object
 6   Number.of.Engines       82805 non-null  float64
 7   Engine.Type             81793 non-null  object
 8   Purpose.of.flight       82697 non-null  object
 9   Total.Fatal.Injuries    77488 non-null  float64
 10  Total.Serious.Injuries  76379 non-null  float64
 11  Total.Minor.Injuries    76956 non-null  float64
 12  Total.Uninjured         82977 non-null  float64
dtypes: float64(5), object(8)
memory usage: 9.0+ MB

In [27]:
aircraft_data= stripped_data[stripped_data['Aircraft.Category']== 'Airplane']

In [28]:
aircraft_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27617 entries, 5 to 90345
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                27617 non-null  object
 1   Accident.Number         27617 non-null  object
 2   Aircraft.Category       27617 non-null  object
 3   Amateur.Built           27600 non-null  object
 4   Make                    27608 non-null  object
 5   Model                   27586 non-null  object
 6   Number.of.Engines       24863 non-null  float64
 7   Engine.Type             23391 non-null  object
 8   Purpose.of.flight       23878 non-null  object
 9   Total.Fatal.Injuries    24452 non-null  float64
 10  Total.Serious.Injuries  24393 non-null  float64
 11  Total.Minor.Injuries    24739 non-null  float64
 12  Total.Uninjured         26717 non-null  float64
dtypes: float64(5), object(8)
memory usage: 2.9+ MB

In [29]:
#pro_aircraft_data refers to professional aircraft data, as in
#aircrafts that are not amateur built

pro_aircraft_data= aircraft_data[aircraft_data['Amateur.Built']== 'No']

In [30]:
pro_aircraft_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24417 entries, 5 to 90345
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                24417 non-null  object
 1   Accident.Number         24417 non-null  object
 2   Aircraft.Category       24417 non-null  object
 3   Amateur.Built           24417 non-null  object
 4   Make                    24414 non-null  object
 5   Model                   24399 non-null  object
 6   Number.of.Engines       21866 non-null  float64
 7   Engine.Type             20461 non-null  object
 8   Purpose.of.flight       20734 non-null  object
 9   Total.Fatal.Injuries    21651 non-null  float64
 10  Total.Serious.Injuries  21571 non-null  float64
 11  Total.Minor.Injuries    21855 non-null  float64
 12  Total.Uninjured         23699 non-null  float64
dtypes: float64(5), object(8)
memory usage: 2.6+ MB

In [31]:
pro_aircraft_data.duplicated().value_counts()

False    24415
True         2
Name: count, dtype: int64

In [32]:
pro_aircraft_data[pro_aircraft_data.duplicated()]

,Event.Id,Accident.Number,Aircraft.Category,Amateur.Built,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
89830,20220822105776,ERA22LA379,Airplane,No,Boeing,A75N1,1.0,NaN,Business,0.0,2.0,0.0,2.0
89982,20220921105978,DCA22WA204,Airplane,No,Boeing,787,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [33]:
#there are 1,460 duplicate values in the dataframe.
#if these were actual duplicated values instead of missing values (NAN)
#this could cause a bias in any analysis we use. This data will not 
#have any positive contibution to any analysis we do so we will get rid
#of the duplicates and store the cleaned data in a new Dataframe

In [34]:
#strip the duplicate lines from the data, and store it in a new dataframe

In [35]:
pro_aircraft_data= pro_aircraft_data.drop_duplicates()

In [36]:
#confirm the duped data has been dropped
pro_aircraft_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24415 entries, 5 to 90345
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                24415 non-null  object
 1   Accident.Number         24415 non-null  object
 2   Aircraft.Category       24415 non-null  object
 3   Amateur.Built           24415 non-null  object
 4   Make                    24412 non-null  object
 5   Model                   24397 non-null  object
 6   Number.of.Engines       21865 non-null  float64
 7   Engine.Type             20461 non-null  object
 8   Purpose.of.flight       20733 non-null  object
 9   Total.Fatal.Injuries    21649 non-null  float64
 10  Total.Serious.Injuries  21569 non-null  float64
 11  Total.Minor.Injuries    21853 non-null  float64
 12  Total.Uninjured         23697 non-null  float64
dtypes: float64(5), object(8)
memory usage: 2.6+ MB

In [37]:
pro_aircraft_data.head()

,Event.Id,Accident.Number,Aircraft.Category,Amateur.Built,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
5,20170710X52551,NYC79AA106,Airplane,No,Mcdonnell Douglas,Dc9,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0
7,20020909X01562,SEA82DA022,Airplane,No,Cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
8,20020909X01561,NYC82DA015,Airplane,No,Cessna,401B,2.0,Reciprocating,Business,0.0,0.0,0.0,2.0
12,20020917X02148,FTW82FRJ07,Airplane,No,Bellanca,17-30A,1.0,Reciprocating,Personal,0.0,0.0,1.0,0.0
13,20020917X02134,FTW82FRA14,Airplane,No,Cessna,R172K,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0

In [38]:
pro_aircraft_data['Total.Fatal.Injuries'].value_counts()

Total.Fatal.Injuries
0.0      17213
1.0       2066
2.0       1298
3.0        412
4.0        305
         ...
89.0         1
103.0        1
160.0        1
42.0         1
132.0        1
Name: count, Length: 65, dtype: int64

In [39]:
pro_aircraft_data[pro_aircraft_data['Total.Fatal.Injuries'].isna()]

,Event.Id,Accident.Number,Aircraft.Category,Amateur.Built,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
5,20170710X52551,NYC79AA106,Airplane,No,Mcdonnell Douglas,Dc9,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0
260,20020917X02495,NYC82DA033,Airplane,No,Bellanca,7Kcab,1.0,Reciprocating,Personal,NaN,NaN,NaN,2.0
351,20020917X02151,FTW82IA062,Airplane,No,Boeing,B-727-200,3.0,Turbo Jet,NaN,NaN,NaN,NaN,83.0
801,20020917X01772,ATL82LA098,Airplane,No,Piper,Pa-23-170,2.0,Reciprocating,Instructional,NaN,NaN,NaN,2.0
1164,20020917X03106,DCA82IA021,Airplane,No,Gates Learjet,24B,2.0,Turbo Jet,Business,NaN,NaN,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63901,20080111X00041,DFW08CA051,Airplane,No,Cessna,172,1.0,Reciprocating,Personal,NaN,NaN,NaN,1.0
63903,20080129X00118,DEN08CA045,Airplane,No,Piper,Pa-46-310P,1.0,Reciprocating,Personal,NaN,NaN,NaN,5.0
63904,20080215X00200,CHI08CA058,Airplane,No,Cessna,172F,1.0,Reciprocating,Personal,NaN,NaN,NaN,1.0
63905,20080214X00193,CHI08CA056,Airplane,No,Ercoupe (Eng & Research Corp.),415D,1.0,Reciprocating,Personal,NaN,NaN,NaN,2.0
63911,20080125X00106,SEA08CA056,Airplane,No,Piper,Pa-12,1.0,Reciprocating,Instructional,NaN,NaN,NaN,2.0

In [40]:
#after reviewing the columns with NAN in the injury columns we can tell that 
#just because the Total Fatal Injuries column may be missing data doesn't mean
#column is totaly useless. In fact in can point to their being non fatal or
#no injuries in the incident. Being that this is the case, we will only get rid of all
#the columns that have NAN across all of the injury counted rows.

#make a dataset that gets rid of all columns that have NAN
#across all injuries columns

In [42]:
#cleaned_pro_aircraft_data
c_pro_aircraft_data=pro_aircraft_data.dropna(subset=['Total.Fatal.Injuries',
                                                 'Total.Serious.Injuries'\
                                                 ,'Total.Uninjured'],
                                         how='all').copy()

In [44]:
c_pro_aircraft_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24050 entries, 5 to 90345
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                24050 non-null  object
 1   Accident.Number         24050 non-null  object
 2   Aircraft.Category       24050 non-null  object
 3   Amateur.Built           24050 non-null  object
 4   Make                    24048 non-null  object
 5   Model                   24034 non-null  object
 6   Number.of.Engines       21543 non-null  float64
 7   Engine.Type             20106 non-null  object
 8   Purpose.of.flight       20387 non-null  object
 9   Total.Fatal.Injuries    21649 non-null  float64
 10  Total.Serious.Injuries  21569 non-null  float64
 11  Total.Minor.Injuries    21535 non-null  float64
 12  Total.Uninjured         23697 non-null  float64
dtypes: float64(5), object(8)
memory usage: 2.6+ MB

In [ ]:
#lets create a new column named 'Fatal Flight?' that simply calls 
#out if an incident had a fatal result or not. We can do this by 
#saying 'Fatal' if the value in Total.Fatal.Injuries column >= 1. 
#If this value is not >= 1 then the new column will display 
#'Not Fatal'

In [46]:
#We will be able to use this column to do different analyses on
#the safety of the different flying vehicles. In these analyses, 
#safety is denoted by whether a flight was fatal or not.

In [47]:
#the new column will be called 'incident severity'

In [48]:
c_pro_aircraft_data['Incident.Severity']=c_pro_aircraft_data\
['Total.Fatal.Injuries'].map(lambda x: 1 if x >= 1 else 0)

In [49]:
c_pro_aircraft_data.head()

,Event.Id,Accident.Number,Aircraft.Category,Amateur.Built,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Incident.Severity
5,20170710X52551,NYC79AA106,Airplane,No,Mcdonnell Douglas,Dc9,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0,0
7,20020909X01562,SEA82DA022,Airplane,No,Cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,0
8,20020909X01561,NYC82DA015,Airplane,No,Cessna,401B,2.0,Reciprocating,Business,0.0,0.0,0.0,2.0,0
12,20020917X02148,FTW82FRJ07,Airplane,No,Bellanca,17-30A,1.0,Reciprocating,Personal,0.0,0.0,1.0,0.0,0
13,20020917X02134,FTW82FRA14,Airplane,No,Cessna,R172K,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0,1

In [50]:
c_pro_aircraft_data['Incident.Severity'].value_counts()

Incident.Severity
0    19614
1     4436
Name: count, dtype: int64

In [51]:
##now that I have created a df with the new column that I would like I need to split that
#dataframe into three new dataframes for analysis

In [52]:
#the first dataframe will compare different types of engines to see which ones have the
#lowest associated fatality rates

In [53]:
#the second dataframe will compare the number of engines types of engines to see if the 
#number of engines effects the fatality rate

In [54]:
#the third dataframe will compare the model of the flying vehicles to 
#see which of those have the lowest fatality rate

In [55]:
#lets start transforming the data into a engine type data set and then cleaning it

In [57]:
c_pro_aircraft_data.columns

Index(['Event.Id', 'Accident.Number', 'Aircraft.Category', 'Amateur.Built',
       'Make', 'Model', 'Number.of.Engines', 'Engine.Type',
       'Purpose.of.flight', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Incident.Severity'],
      dtype='object')

In [58]:
Engine_Type=c_pro_aircraft_data[['Event.Id', 'Accident.Number'\
                                 , 'Engine.Type', \
                                 'Incident.Severity']].copy()

In [59]:
#now lets explore this new df to see the best way to clean it

In [60]:
Engine_Type[Engine_Type.duplicated]

             Event.Id Accident.Number    Engine.Type  Incident.Severity
88568  20220111104514      ERA22LA103  Reciprocating                  0
88599  20220309104747      DCA22WA089            NaN                  0
88620  20220801105632      DCA22WA167            NaN                  0
88695  20220212104630      ERA22LA119  Reciprocating                  0
89300  20220614105258      DCA22WA130            NaN                  0
89384  20220623105317      DCA22LA135            NaN                  0
89494  20220726105577      DCA22WA158            NaN                  0
89505  20220804105661      DCA22WA172            NaN                  0
89594  20220718105496      ERA22FA318            NaN                  1
89668  20220727105589      ERA22FA338            NaN                  1
89751  20220808105682      ERA22LA364            NaN                  0
89814  20220818105763      WPR22FA309            NaN                  1
90050  20220929106019      DCA22WA214            NaN                  0
90236  20221112106276      CEN23MA034            NaN                  1

In [61]:
Engine_Type.drop_duplicates(inplace=True)

In [62]:
#since there are not any repeat Event Id's and Accident numbers that 
#can help us interprat what the NAN might be
#the best way to mitigate the bias in analysis would be to delete them
#instead of imputing them

In [67]:
#cleaned_engine_type
C_Engine_Type=Engine_Type.dropna(subset=['Engine.Type']).copy()

In [64]:
C_Engine_Type.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20104 entries, 5 to 90226
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Event.Id           20104 non-null  object
 1   Accident.Number    20104 non-null  object
 2   Engine.Type        20104 non-null  object
 3   Incident.Severity  20104 non-null  int64
dtypes: int64(1), object(3)
memory usage: 785.3+ KB

In [65]:
#this new dataframe is now ready for analysis

In [66]:
#Start by grouping Incident Severity by Engine Type

In [69]:
Engine_Count_Series=C_Engine_Type.groupby(['Engine.Type'])\
['Incident.Severity'].sum()

In [70]:
#convert this series to a datadrame

In [71]:
Engine_Fatality_Count=Engine_Count_Series.to_frame()

In [72]:
Engine_Fatality_Count

                 Incident.Severity
Engine.Type
Electric                         0
Geared Turbofan                  0
Reciprocating                 2810
Turbo Fan                       71
Turbo Jet                       30
Turbo Prop                     307
Turbo Shaft                      1
UNK                              0
Unknown                         36

In [73]:
#rename the count column

In [74]:
Engine_Fatality_Count.rename(columns={'Incident.Severity':\
    'Fatality.Count'},inplace=True)

In [75]:
Engine_Fatality_Count

                 Fatality.Count
Engine.Type
Electric                      0
Geared Turbofan               0
Reciprocating              2810
Turbo Fan                    71
Turbo Jet                    30
Turbo Prop                  307
Turbo Shaft                   1
UNK                           0
Unknown                      36

In [76]:
#compare these numbers to the total instances of each type of motor

In [77]:
Engine_Type_Count_Series=C_Engine_Type['Engine.Type'].value_counts()

In [78]:
#convert this series to a dataframe
Engine_Count=Engine_Type_Count_Series.to_frame()

In [79]:
Engine_Count

                 count
Engine.Type
Reciprocating    17550
Turbo Prop        1315
Turbo Fan          959
Turbo Jet          153
Unknown            100
Geared Turbofan     12
Turbo Shaft          9
Electric             5
UNK                  1

In [80]:
#rename the count column
Engine_Count.rename(columns={'count': 'Incident.Count'},inplace=True)

In [81]:
Engine_Count

                 Incident.Count
Engine.Type
Reciprocating             17550
Turbo Prop                 1315
Turbo Fan                   959
Turbo Jet                   153
Unknown                     100
Geared Turbofan              12
Turbo Shaft                   9
Electric                      5
UNK                           1

In [89]:
#Merge the two new DataFrames along the shared index
Engine_Fatality_Analysis=Engine_Fatality_Count.join(Engine_Count, how='inner')
Engine_Fatality_Analysis

                 Fatality.Count  Incident.Count
Engine.Type
Electric                      0               5
Geared Turbofan               0              12
Reciprocating              2810           17550
Turbo Fan                    71             959
Turbo Jet                    30             153
Turbo Prop                  307            1315
Turbo Shaft                   1               9
UNK                           0               1
Unknown                      36             100

In [90]:
#get rid of the unknown column rows: UNK and Unknown
#get rid of the columns with insignificant amounts of data
Engine_Fatality_Analysis.drop(index={'Unknown', 'UNK', 'Electric',\
                                    'Geared Turbofan', 'Turbo Shaft'},\
                              inplace=True)

Engine_Fatality_Analysis

               Fatality.Count  Incident.Count
Engine.Type
Reciprocating            2810           17550
Turbo Fan                  71             959
Turbo Jet                  30             153
Turbo Prop                307            1315

In [91]:
##Now to conduct the same data manipulation and dataframe creation for
#number of engines vs Fatalities

In [93]:
c_pro_aircraft_data.columns

Index(['Event.Id', 'Accident.Number', 'Aircraft.Category', 'Amateur.Built',
       'Make', 'Model', 'Number.of.Engines', 'Engine.Type',
       'Purpose.of.flight', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Incident.Severity'],
      dtype='object')

In [97]:
Engine_Count=c_pro_aircraft_data[['Event.Id','Accident.Number',\
                                  'Number.of.Engines',\
                                  'Incident.Severity']].copy()

Engine_Count.head()

          Event.Id Accident.Number  Number.of.Engines  Incident.Severity
5   20170710X52551      NYC79AA106                2.0                  0
7   20020909X01562      SEA82DA022                1.0                  0
8   20020909X01561      NYC82DA015                2.0                  0
12  20020917X02148      FTW82FRJ07                1.0                  0
13  20020917X02134      FTW82FRA14                1.0                  1

In [98]:
Engine_Count.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24050 entries, 5 to 90345
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Event.Id           24050 non-null  object
 1   Accident.Number    24050 non-null  object
 2   Number.of.Engines  21543 non-null  float64
 3   Incident.Severity  24050 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 939.5+ KB

In [99]:
C_Engine_Count= Engine_Count.dropna(subset=['Number.of.Engines']).copy()
C_Engine_Count.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21543 entries, 5 to 90345
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Event.Id           21543 non-null  object
 1   Accident.Number    21543 non-null  object
 2   Number.of.Engines  21543 non-null  float64
 3   Incident.Severity  21543 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 841.5+ KB

In [100]:
C_Engine_Count[C_Engine_Count.duplicated]

             Event.Id Accident.Number  Number.of.Engines  Incident.Severity
88568  20220111104514      ERA22LA103                1.0                  0
88695  20220212104630      ERA22LA119                1.0                  0
88856  20220323104818      CEN22LA149                1.0                  0
89384  20220623105317      DCA22LA135                2.0                  0
89594  20220718105496      ERA22FA318                1.0                  1
89668  20220727105589      ERA22FA338                1.0                  1
89751  20220808105682      ERA22LA364                1.0                  0

In [101]:
C_Engine_Count.drop_duplicates(inplace=True)

In [103]:
Engine_Count_Series=C_Engine_Count.groupby(['Number.of.Engines'])\
                    ['Incident.Severity'].sum()
Engine_Count_Series

Number.of.Engines
0.0       1
1.0    2838
2.0     735
3.0       5
4.0      15
6.0       0
8.0       0
Name: Incident.Severity, dtype: int64

In [104]:
Num_of_Fatal_Engine_Count=Engine_Count_Series.to_frame()
Num_of_Fatal_Engine_Count

                   Incident.Severity
Number.of.Engines
0.0                                1
1.0                             2838
2.0                              735
3.0                                5
4.0                               15
6.0                                0
8.0                                0

In [105]:
Num_of_Fatal_Engine_Count.rename(columns={'Incident.Severity':\
                                          'Fatality.Count'},inplace=True)

Num_of_Fatal_Engine_Count

                   Fatality.Count
Number.of.Engines
0.0                             1
1.0                          2838
2.0                           735
3.0                             5
4.0                            15
6.0                             0
8.0                             0

In [108]:
Engine_Count_Series=C_Engine_Count['Number.of.Engines'].value_counts()
Engine_Count_Series

Number.of.Engines
1.0    17909
2.0     3458
4.0      101
3.0       58
0.0        8
8.0        1
6.0        1
Name: count, dtype: int64

In [109]:
Total_Engines_Count=Engine_Count_Series.to_frame()
Total_Engines_Count

                   count
Number.of.Engines
1.0                17909
2.0                 3458
4.0                  101
3.0                   58
0.0                    8
8.0                    1
6.0                    1

In [110]:
Total_Engines_Count.rename(columns={'count': 'Incident.Count'},inplace=True)
Total_Engines_Count

                   Incident.Count
Number.of.Engines
1.0                         17909
2.0                          3458
4.0                           101
3.0                            58
0.0                             8
8.0                             1
6.0                             1

In [111]:
Number_of_Engine_Analysis=Num_of_Fatal_Engine_Count.join(\
                        Total_Engines_Count, how='inner')
Number_of_Engine_Analysis

                   Fatality.Count  Incident.Count
Number.of.Engines
0.0                             1               8
1.0                          2838           17909
2.0                           735            3458
3.0                             5              58
4.0                            15             101
6.0                             0               1
8.0                             0               1

In [113]:
#get rid of the columns with insignificant amounts of data
Number_of_Engine_Analysis.drop(index={0.0, 6.0, 8.0},\
                              inplace=True)

Number_of_Engine_Analysis

                   Fatality.Count  Incident.Count
Number.of.Engines
1.0                          2838           17909
2.0                           735            3458
3.0                             5              58
4.0                            15             101

In [114]:
###now lets do the same for model fatality analysis

In [116]:
c_pro_aircraft_data.columns

Index(['Event.Id', 'Accident.Number', 'Aircraft.Category', 'Amateur.Built',
       'Make', 'Model', 'Number.of.Engines', 'Engine.Type',
       'Purpose.of.flight', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Incident.Severity'],
      dtype='object')

In [117]:
Fatal_Model_Count=c_pro_aircraft_data[['Event.Id','Accident.Number',\
                                       'Model','Incident.Severity']].copy()

Fatal_Model_Count.head()

          Event.Id Accident.Number   Model  Incident.Severity
5   20170710X52551      NYC79AA106     Dc9                  0
7   20020909X01562      SEA82DA022     140                  0
8   20020909X01561      NYC82DA015    401B                  0
12  20020917X02148      FTW82FRJ07  17-30A                  0
13  20020917X02134      FTW82FRA14   R172K                  1

In [118]:
Fatal_Model_Count.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24050 entries, 5 to 90345
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Event.Id           24050 non-null  object
 1   Accident.Number    24050 non-null  object
 2   Model              24034 non-null  object
 3   Incident.Severity  24050 non-null  int64
dtypes: int64(1), object(3)
memory usage: 939.5+ KB

In [120]:
Fatal_Model_Count.sort_values(['Event.Id','Accident.Number']).asceding=(True)
Fatal_Model_Count.groupby(['Event.Id','Accident.Number']).count()

                                Model  Incident.Severity
Event.Id       Accident.Number
20001204X00044 DCA99WA031           1                  1
20001205X00145 DCA99WA038           1                  1
20001205X00146 DCA99WA039           1                  1
20001205X00295 DCA99WA042           1                  1
20001205X00296 DCA99WA047           1                  1
...                               ...                ...
20221215106460 ERA23LA088           1                  1
20221215106463 ERA23LA090           1                  1
20221219106470 ERA23LA091           1                  1
20221219106475 WPR23LA069           1                  1
20221227106497 WPR23LA075           1                  1

[24033 rows x 2 columns]

In [121]:
Fatal_Model_Count.groupby(['Event.Id','Accident.Number']).count().value_counts()

Model  Incident.Severity
1      1                    24000
2      2                       17
0      1                       16
Name: count, dtype: int64

In [122]:
Fatal_Model_Count[Fatal_Model_Count.duplicated]

             Event.Id Accident.Number Model  Incident.Severity
88856  20220323104818      CEN22LA149  208B                  0

In [123]:
Fatal_Model_Count.drop_duplicates(inplace=True)

In [126]:
C_Fatal_Model_Count=Fatal_Model_Count.dropna(subset=['Model'])
C_Fatal_Model_Count.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24033 entries, 5 to 90345
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Event.Id           24033 non-null  object
 1   Accident.Number    24033 non-null  object
 2   Model              24033 non-null  object
 3   Incident.Severity  24033 non-null  int64
dtypes: int64(1), object(3)
memory usage: 938.8+ KB

In [127]:
Fatal_Model_Count_Series=C_Fatal_Model_Count.groupby(['Model'])\
                            ['Incident.Severity'].sum()

Fatal_Model_Count_DF=Fatal_Model_Count_Series.to_frame()

Fatal_Model_Count_DF

                     Incident.Severity
Model
0-1A                                 0
0-47B                                0
0-58A                                0
0-58B                                0
01                                   1
...                                ...
Zodiac 601 Xl                        2
Zodiac 601Xl                         0
Zodiac Ch601Xl                       0
Zodiac Xl                            0
Zuber Super Drifter                  0

[3652 rows x 1 columns]

In [128]:
Fatal_Model_Count_DF.rename(columns={'Incident.Severity':'Fatality.Count'},\
                            inplace=True)

Fatal_Model_Count_DF.sort_values('Fatality.Count',ascending=False)

                     Fatality.Count
Model
172                             132
Sr22                             85
182                              84
A36                              67
Pa28                             63
...                             ...
Cl-600 Challenger                 0
Cl-600-1A11                       0
Cl-600-2A12                       0
Cl-600-2B1                        0
Zuber Super Drifter               0

[3652 rows x 1 columns]

In [129]:
Total_Model_Count_DF=C_Fatal_Model_Count['Model'].value_counts().to_frame()

Total_Model_Count_DF

           count
Model
172          866
152          440
737          403
182          343
172N         304
...          ...
A2-A           1
G-1159A        1
P51D           1
A319-100       1
M-8 Eagle      1

[3652 rows x 1 columns]

In [130]:
Total_Model_Count_DF.rename(columns={'count': 'Model.Count'}, inplace=True)

In [131]:
Fatal_Model_Analysis=Fatal_Model_Count_DF.join(Total_Model_Count_DF, how='inner')

Fatal_Model_Analysis

                     Fatality.Count  Model.Count
Model
0-1A                              0            1
0-47B                             0            1
0-58A                             0            1
0-58B                             0            2
01                                1            1
...                             ...          ...
Zodiac 601 Xl                     2            2
Zodiac 601Xl                      0            1
Zodiac Ch601Xl                    0            1
Zodiac Xl                         0            1
Zuber Super Drifter               0            1

[3652 rows x 2 columns]

In [132]:
Fatal_Model_Analysis.sort_values(by=['Model.Count'], ascending=False, inplace=True)

Fatal_Model_Analysis

                     Fatality.Count  Model.Count
Model
172                             132          866
152                              46          440
737                              15          403
182                              84          343
172N                             48          304
...                             ...          ...
Dc-9-82 (Md-82)                   0            1
Dc-9-82(Md-82)                    0            1
Dc-9-83(Md-83)                    0            1
Dc-9-87                           0            1
Zuber Super Drifter               0            1

[3652 rows x 2 columns]

In [133]:
##now that all of the analysis dataframnes have been prepared
#lets turn them into visual representations