## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
len('jmftiognroengkjlrekjngrkolengonreoingmoringreoiqngoireqmgnoivnjfkdbnvijfd5')

74

In [2]:
# Your code here - remember to use markdown cells for comments as well!

In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
#Next I will import the data stored on the .CSV file and save it to a dataframe 

Aviation_Data= pd.read_csv('data/Aviation_Data.csv', low_memory=False)

In [5]:
#Now I will start exploring the data

Aviation_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [6]:
#taking a look at a sample of the data

Aviation_Data.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [7]:
Aviation_Data['Total.Fatal.Injuries'].value_counts()

Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
156.0        1
68.0         1
31.0         1
115.0        1
176.0        1
Name: count, Length: 125, dtype: int64

In [8]:
#see if there are re-occuring event id's
Aviation_Data['Event.Id'].value_counts()

Event.Id
20001212X19172    3
20001214X45071    3
20220730105623    2
20051213X01965    2
20001212X16765    2
                 ..
20001211X14216    1
20001211X14239    1
20001211X14207    1
20001211X14204    1
20221230106513    1
Name: count, Length: 87951, dtype: int64

In [9]:
Aviation_Data['Number.of.Engines'].value_counts()

Number.of.Engines
1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: count, dtype: int64

In [10]:
Aviation_Data['Engine.Type'].value_counts()

Engine.Type
Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
Geared Turbofan       12
Electric              10
LR                     2
NONE                   2
Hybrid Rocket          1
UNK                    1
Name: count, dtype: int64

In [11]:
Aviation_Data['Investigation.Type'].value_counts()

Investigation.Type
Accident      85015
Incident       3874
25-09-2020      702
26-09-2020       60
02-02-2021       39
              ...
13-09-2021        1
04-08-2021        1
05-08-2022        1
03-11-2020        1
06-01-2021        1
Name: count, Length: 71, dtype: int64

In [12]:
Aviation_Data['Accident.Number'].value_counts()

Accident.Number
CEN22LA149    2
WPR23LA041    2
WPR23LA045    2
DCA22WA214    2
DCA22WA089    2
             ..
LAX92FA065    1
ANC92T#A12    1
MIA92LA049    1
NYC92LA048    1
ERA23LA097    1
Name: count, Length: 88863, dtype: int64

In [13]:
Aviation_Data['Injury.Severity'].value_counts()

Injury.Severity
Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(270)        1
Fatal(60)         1
Fatal(43)         1
Fatal(143)        1
Fatal(230)        1
Name: count, Length: 109, dtype: int64

In [14]:
Aviation_Data['Aircraft.damage'].value_counts()

Aircraft.damage
Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: count, dtype: int64

In [15]:
Aviation_Data['Aircraft.Category'].value_counts()

Aircraft.Category
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: count, dtype: int64

In [16]:
Aviation_Data['Registration.Number'].value_counts()

Registration.Number
NONE      344
UNREG     126
UNK        13
USAF        9
N20752      8
         ...
N93478      1
N519UA      1
N8840W      1
N21040      1
N9026P      1
Name: count, Length: 79104, dtype: int64

In [17]:
Aviation_Data['Make'].value_counts()

Make
Cessna             22227
Piper              12029
CESSNA              4922
Beech               4330
PIPER               2841
                   ...
Leonard Walters        1
Maule Air Inc.         1
Motley Vans            1
Perlick                1
ROYSE RALPH L          1
Name: count, Length: 8237, dtype: int64

In [18]:
Aviation_Data['Model'].value_counts()

Model
152              2367
172              1756
172N             1164
PA-28-140         932
150               829
                 ...
GC-1-A              1
737-3S3             1
MBB-BK117-B2        1
GLASSAIR GL25       1
M-8 EAGLE           1
Name: count, Length: 12318, dtype: int64

In [19]:
Aviation_Data['Amateur.Built'].value_counts()

Amateur.Built
No     80312
Yes     8475
Name: count, dtype: int64

In [20]:
Aviation_Data['FAR.Description'].value_counts()

FAR.Description
091                               18221
Part 91: General Aviation          6486
NUSN                               1584
NUSC                               1013
137                                1010
135                                 746
121                                 679
Part 137: Agricultural              437
UNK                                 371
Part 135: Air Taxi & Commuter       298
PUBU                                253
129                                 246
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                   100
Non-U.S., Non-Commercial             97
Non-U.S., Commercial                 93
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  8
Part 125: 20+ Pax,6000+ lbs           5
125                                   5
107                                   4
Public Aircraft                       2
103                                   2
Part 91 Subpart K: Fractional         1
Armed Forces                          1
Part 91F: Special Flt Ops.            1
437                                   1
Name: count, dtype: int64

In [21]:
Aviation_Data['Schedule'].value_counts()

Schedule
NSCH    4474
UNK     4099
SCHD    4009
Name: count, dtype: int64

In [22]:
Aviation_Data['Purpose.of.flight'].value_counts()

Purpose.of.flight
Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: count, dtype: int64

In [23]:
Aviation_Data['Air.carrier'].value_counts()

Air.carrier
Pilot                        258
American Airlines             90
United Airlines               89
Delta Air Lines               53
SOUTHWEST AIRLINES CO         42
                            ...
WOODY CONTRACTING INC          1
Rod Aviation LLC               1
Paul D Franzon                 1
TRAINING SERVICES INC DBA      1
MC CESSNA 210N LLC             1
Name: count, Length: 13590, dtype: int64

In [24]:
Aviation_Data['Total.Fatal.Injuries'].value_counts()

Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
156.0        1
68.0         1
31.0         1
115.0        1
176.0        1
Name: count, Length: 125, dtype: int64

In [25]:
Aviation_Data['Total.Serious.Injuries'].value_counts()

Total.Serious.Injuries
0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
10.0        13
8.0         13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
20.0         3
25.0         3
28.0         3
21.0         2
59.0         2
50.0         2
17.0         2
47.0         2
137.0        1
19.0         1
161.0        1
27.0         1
35.0         1
67.0         1
33.0         1
88.0         1
125.0        1
53.0         1
34.0         1
41.0         1
18.0         1
63.0         1
55.0         1
23.0         1
43.0         1
39.0         1
45.0         1
44.0         1
16.0         1
60.0         1
106.0        1
81.0         1
15.0         1
22.0         1
Name: count, dtype: int64

In [26]:
Aviation_Data['Total.Minor.Injuries'].value_counts()

Total.Minor.Injuries
0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
10.0        11
12.0        11
14.0        10
11.0         9
17.0         8
19.0         6
18.0         6
24.0         5
22.0         5
25.0         4
16.0         4
15.0         4
33.0         4
20.0         3
21.0         3
26.0         3
23.0         3
32.0         3
27.0         3
50.0         2
30.0         2
36.0         2
31.0         2
28.0         2
42.0         2
38.0         2
57.0         1
65.0         1
84.0         1
43.0         1
35.0         1
380.0        1
47.0         1
68.0         1
200.0        1
71.0         1
58.0         1
171.0        1
39.0         1
96.0         1
29.0         1
69.0         1
62.0         1
45.0         1
125.0        1
40.0         1
Name: count, dtype: int64

In [27]:
Aviation_Data['Total.Uninjured'].value_counts()

Total.Uninjured
0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
558.0        1
412.0        1
338.0        1
401.0        1
455.0        1
Name: count, Length: 379, dtype: int64

In [28]:
Aviation_Data['Weather.Condition'].value_counts()

Weather.Condition
VMC    77303
IMC     5976
UNK      856
Unk      262
Name: count, dtype: int64

In [29]:
Aviation_Data['Broad.phase.of.flight'].value_counts()

Broad.phase.of.flight
Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Unknown          548
Other            119
Name: count, dtype: int64

In [30]:
Aviation_Data['Report.Status'].value_counts()

Report.Status
Probable Cause                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        61754
Foreign                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1999
<br /><br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            167
Factual                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             58
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
The certified flight instructor's delayed remedial action and inadequate supervision during a practice autorotation. Contributing to the accident was the student pilot's excessive application of the throttle.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
The pilot's inadequate fuel management, which resulted in a loss of engine power due to fuel starvation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Sundance HelicoptersÂ’ inadequate maintenance of the helicopter, including (1) the improper reuse of a degraded self-locking nut, (2) the improper or lack of installation of a split pin, and (3) inadequate postmaintenance inspections, which resulted in the in-flight separation of the servo control input rod from the fore/aft servo and rendered the helicopter uncontrollable. Contributing to the improper or lack of installation of the split pin was the mechanicÂ’s fatigue and the lack of clearly delineated maintenance task steps to follow. Contributing to the inadequate postmaintenance inspection was the inspectorÂ’s fatigue and the lack of clearly delineated inspection steps to follow.        1
The total loss of engine power for reasons that could not be determined because postaccident examination of the airframe and engine did not reveal evidence of preaccident mechanical malfunctions or failures that would have precluded normal operation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
The pilotÂ’s loss of control due to a wind gust during landing.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Name: count, Length: 17006, dtype: int64

In [31]:
Aviation_Data['Publication.Date']

0               NaN
1        19-09-1996
2        26-02-2007
3        12-09-2000
4        16-04-1980
            ...
90343    29-12-2022
90344           NaN
90345    27-12-2022
90346           NaN
90347    30-12-2022
Name: Publication.Date, Length: 90348, dtype: object

In [32]:
Aviation_Data['Event.Date']

0        1948-10-24
1        1962-07-19
2        1974-08-30
3        1977-06-19
4        1979-08-02
            ...
90343    2022-12-26
90344    2022-12-26
90345    2022-12-26
90346    2022-12-26
90347    2022-12-29
Name: Event.Date, Length: 90348, dtype: object

In [33]:
##create a new dataframe from the columns that you want to keep

In [34]:
#see what columns you have currently

In [35]:
Aviation_Data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [36]:
Aviation_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [37]:
stripped_data=Aviation_Data[['Event.Id','Accident.Number','Aircraft.Category',
                             'Make','Model','Number.of.Engines','Engine.Type',
                             'Purpose.of.flight', 'Total.Fatal.Injuries',
                             'Total.Serious.Injuries', 'Total.Minor.Injuries',
                                 'Total.Uninjured']].copy()

In [38]:
stripped_data.head()

,Event.Id,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20001218X45444,SEA87LA080,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
1,20001218X45447,LAX94LA336,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0
2,20061025X01555,NYC07LA005,NaN,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN
3,20001218X45448,LAX96LA321,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
4,20041105X01764,CHI79FA064,NaN,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0

In [39]:
stripped_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Aircraft.Category       32287 non-null  object
 3   Make                    88826 non-null  object
 4   Model                   88797 non-null  object
 5   Number.of.Engines       82805 non-null  float64
 6   Engine.Type             81793 non-null  object
 7   Purpose.of.flight       82697 non-null  object
 8   Total.Fatal.Injuries    77488 non-null  float64
 9   Total.Serious.Injuries  76379 non-null  float64
 10  Total.Minor.Injuries    76956 non-null  float64
 11  Total.Uninjured         82977 non-null  float64
dtypes: float64(5), object(7)
memory usage: 8.3+ MB

In [40]:
##clean the data

In [41]:
#check for duplicates in the data and remove the duplicates and copy this data to a new dataset

In [42]:
stripped_data.duplicated().value_counts()

False    88888
True      1460
Name: count, dtype: int64

In [43]:
#Lets take a look at the duplicate data to see if we can learn anything about it

In [44]:
stripped_data[stripped_data.duplicated]

,Event.Id,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
64050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
90004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
#there are 1,460 duplicate values in the dataframe.
#if these were actual duplicated values instead of missing values (NAN)
#this could cause a bias in any analysis we use. This data will not 
#have any positive contibution to any analysis we do so we will get rid
#of the duplicates and store the cleaned data in a new Dataframe

In [46]:
#strip the duplicate lines from the data, and store it in a new dataframe

In [47]:
data_no_dupes=stripped_data.drop_duplicates()

In [48]:
#confirm the duped data has been dropped

In [49]:
data_no_dupes.shape #confirmed the dupe data has been dropped

(88888, 12)

In [50]:
##break this dataset up into three different data sets for analysis

In [51]:
data_no_dupes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88888 entries, 0 to 90347
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88887 non-null  object
 1   Accident.Number         88887 non-null  object
 2   Aircraft.Category       32285 non-null  object
 3   Make                    88824 non-null  object
 4   Model                   88795 non-null  object
 5   Number.of.Engines       82804 non-null  float64
 6   Engine.Type             81793 non-null  object
 7   Purpose.of.flight       82696 non-null  object
 8   Total.Fatal.Injuries    77486 non-null  float64
 9   Total.Serious.Injuries  76377 non-null  float64
 10  Total.Minor.Injuries    76954 non-null  float64
 11  Total.Uninjured         82975 non-null  float64
dtypes: float64(5), object(7)
memory usage: 8.8+ MB

In [52]:
#this dataset will be for Engine type analysis to see if the engine 
#type has any effect on the safety of the planes

In [53]:
data_no_dupes.head()

,Event.Id,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20001218X45444,SEA87LA080,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
1,20001218X45447,LAX94LA336,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0
2,20061025X01555,NYC07LA005,NaN,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN
3,20001218X45448,LAX96LA321,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
4,20041105X01764,CHI79FA064,NaN,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0

In [54]:
type(data_no_dupes['Total.Fatal.Injuries'][1])

numpy.float64

In [55]:
data_no_dupes['Total.Fatal.Injuries'].value_counts()

Total.Fatal.Injuries
0.0      59673
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
156.0        1
68.0         1
31.0         1
115.0        1
176.0        1
Name: count, Length: 125, dtype: int64

In [56]:
data_no_dupes[data_no_dupes['Total.Fatal.Injuries'].isna()]

,Event.Id,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
5,20170710X52551,NYC79AA106,Airplane,Mcdonnell Douglas,DC9,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0
89,20020917X02486,NYC82DA022,NaN,Cessna,310,2.0,Reciprocating,Personal,NaN,NaN,NaN,2.0
260,20020917X02495,NYC82DA033,Airplane,Bellanca,7KCAB,1.0,Reciprocating,Personal,NaN,NaN,NaN,2.0
351,20020917X02151,FTW82IA062,Airplane,Boeing,B-727-200,3.0,Turbo Jet,NaN,NaN,NaN,NaN,83.0
728,20020917X02383,MIA82DA098,NaN,Cessna,172,1.0,Reciprocating,Instructional,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
63905,20080214X00193,CHI08CA056,Airplane,Ercoupe (eng & Research Corp.),415D,1.0,Reciprocating,Personal,NaN,NaN,NaN,2.0
63910,20080129X00122,CHI08CA057,Airplane,Lerohl,RV-8,1.0,Reciprocating,Personal,NaN,NaN,NaN,1.0
63911,20080125X00106,SEA08CA056,Airplane,Piper,PA-12,1.0,Reciprocating,Instructional,NaN,NaN,NaN,2.0
63912,20080206X00141,CHI08WA075,NaN,Cessna,T303,NaN,NaN,Unknown,NaN,NaN,NaN,1.0
64030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
#after reviewing the columns with NAN in the injury columns we can tell that 
#just because the Total Fatal Injuries column may be missing data doesn't mean
#column is totaly useless. In fact in can point to their being non fatal or
#no injuries in the incident. Being that this is the case, we will only get rid of all
#the columns that have NAN across all of the injury counted rows.

#make a dataset that gets rid of all columns that have NAN
#across all injuries columns

In [58]:
cleaned_injury_data=data_no_dupes.dropna(subset=['Total.Fatal.Injuries',
                                                 'Total.Serious.Injuries','Total.Uninjured'],
                                         how='all').copy()

In [59]:
cleaned_injury_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87158 entries, 0 to 90347
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                87158 non-null  object
 1   Accident.Number         87158 non-null  object
 2   Aircraft.Category       31724 non-null  object
 3   Make                    87099 non-null  object
 4   Model                   87071 non-null  object
 5   Number.of.Engines       81305 non-null  float64
 6   Engine.Type             80266 non-null  object
 7   Purpose.of.flight       81150 non-null  object
 8   Total.Fatal.Injuries    77486 non-null  float64
 9   Total.Serious.Injuries  76377 non-null  float64
 10  Total.Minor.Injuries    75448 non-null  float64
 11  Total.Uninjured         82975 non-null  float64
dtypes: float64(5), object(7)
memory usage: 8.6+ MB

In [60]:
#now that we have stripped away all of the rows that have no actuall values
#across all of the rows, we can infer that if the value in the total fatal 
#injury column is less than 1 or equal to NAN then there probably no injuries
#or only injuries that weren't fatal in the incident.

In [61]:
#lets check out the Total Fatal NAN instances to confirm this theory

In [62]:
cleaned_injury_data[cleaned_injury_data['Total.Fatal.Injuries'].isna()]

,Event.Id,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
5,20170710X52551,NYC79AA106,Airplane,Mcdonnell Douglas,DC9,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0
89,20020917X02486,NYC82DA022,NaN,Cessna,310,2.0,Reciprocating,Personal,NaN,NaN,NaN,2.0
260,20020917X02495,NYC82DA033,Airplane,Bellanca,7KCAB,1.0,Reciprocating,Personal,NaN,NaN,NaN,2.0
351,20020917X02151,FTW82IA062,Airplane,Boeing,B-727-200,3.0,Turbo Jet,NaN,NaN,NaN,NaN,83.0
728,20020917X02383,MIA82DA098,NaN,Cessna,172,1.0,Reciprocating,Instructional,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
63904,20080215X00200,CHI08CA058,Airplane,Cessna,172F,1.0,Reciprocating,Personal,NaN,NaN,NaN,1.0
63905,20080214X00193,CHI08CA056,Airplane,Ercoupe (eng & Research Corp.),415D,1.0,Reciprocating,Personal,NaN,NaN,NaN,2.0
63910,20080129X00122,CHI08CA057,Airplane,Lerohl,RV-8,1.0,Reciprocating,Personal,NaN,NaN,NaN,1.0
63911,20080125X00106,SEA08CA056,Airplane,Piper,PA-12,1.0,Reciprocating,Instructional,NaN,NaN,NaN,2.0
63912,20080206X00141,CHI08WA075,NaN,Cessna,T303,NaN,NaN,Unknown,NaN,NaN,NaN,1.0

In [63]:
#as you can see, this seems to be true

In [64]:
#lets create a new column named 'Fatal Flight?' that simply calls 
#out if an incident had a fatal result or not. We can do this by 
#saying 'Fatal' if the value in Total.Fatal.Injuries column >= 1. 
#If this value is not >= 1 then the new column will display 
#'Not Fatal'

In [65]:
#We will be able to use this column to do different analyses on
#the safety of the different flying vehicles. In these analyses, 
#safety is denoted by whether a flight was fatal or not.

In [66]:
#the new column will be called 'incident severity'

In [67]:
cleaned_injury_data['Incident.Severity']=cleaned_injury_data['Total.Fatal.Injuries'].map(lambda x: 'Fatal' if x >= 1 else 'Not Fatal')

In [68]:
cleaned_injury_data.head()

,Event.Id,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Incident.Severity
0,20001218X45444,SEA87LA080,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,Fatal
1,20001218X45447,LAX94LA336,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,Fatal
2,20061025X01555,NYC07LA005,NaN,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,Fatal
3,20001218X45448,LAX96LA321,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,Fatal
4,20041105X01764,CHI79FA064,NaN,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0,Fatal

In [69]:
cleaned_injury_data['Incident.Severity'].value_counts()

Incident.Severity
Not Fatal    69345
Fatal        17813
Name: count, dtype: int64

In [76]:
cleaned_injury_data['Accident.Number'].value_counts()

Accident.Number
DCA22LA201    2
DCA23WA071    2
WPR23LA045    2
DCA22WA089    2
CEN22LA346    2
             ..
ATL91LA173    1
LAX91LA396    1
NYC91LA238    1
ANC91FA147    1
ERA23LA097    1
Name: count, Length: 87134, dtype: int64

In [70]:
##now that I have created a df with the new column that I would like I need to split that
#dataframe into three new dataframes for analysis

In [71]:
#the first dataframe will compare different types of engines to see which ones have the
#lowest associated fatality rates

In [72]:
#the second dataframe will compare the number of engines types of engines to see if the 
#number of engines effects the fatality rate

In [73]:
#the third dataframe will compare the make and model of the flying vehicles to 
#see which of those have the lowest fatality rate

In [74]:
#lets start transforming the data into a engine type data set and then cleaning it

In [80]:
cleaned_injury_data.columns

Index(['Event.Id', 'Accident.Number', 'Aircraft.Category', 'Make', 'Model',
       'Number.of.Engines', 'Engine.Type', 'Purpose.of.flight',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Incident.Severity'],
      dtype='object')

In [82]:
Engine_Type=cleaned_injury_data[['Event.Id', 'Accident.Number', 'Engine.Type', 'Incident.Severity']].copy()

In [83]:
Engine_Type.head()

         Event.Id Accident.Number    Engine.Type Incident.Severity
0  20001218X45444      SEA87LA080  Reciprocating             Fatal
1  20001218X45447      LAX94LA336  Reciprocating             Fatal
2  20061025X01555      NYC07LA005  Reciprocating             Fatal
3  20001218X45448      LAX96LA321  Reciprocating             Fatal
4  20041105X01764      CHI79FA064            NaN             Fatal

In [84]:
#now lets explore this new df to see the best way to clean it

In [85]:
Engine_Type.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87158 entries, 0 to 90347
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Event.Id           87158 non-null  object
 1   Accident.Number    87158 non-null  object
 2   Engine.Type        80266 non-null  object
 3   Incident.Severity  87158 non-null  object
dtypes: object(4)
memory usage: 3.3+ MB

In [ ]:
df.groupby(['Sex', 'Pclass'])['Survived'].mean()

In [87]:
Engine_Type.groupby(['Event.Id','Accident.Number']).count()

                                Engine.Type  Incident.Severity
Event.Id       Accident.Number
20001204X00000 ANC99FA021                 1                  1
20001204X00001 ANC99IA025                 1                  1
20001204X00002 ANC99LA020                 1                  1
20001204X00003 ANC99LA022                 1                  1
20001204X00004 ANC99LA023                 1                  1
...                                     ...                ...
20221227106496 WPR23LA074                 0                  1
20221227106497 WPR23LA075                 0                  1
20221227106498 WPR23LA076                 0                  1
20221228106502 GAA23WA046                 0                  1
20221230106513 ERA23LA097                 0                  1

[87134 rows x 2 columns]

In [88]:
#since there are not any repeat Event Id's and Accident numbers that can help us interprat what the NAN might be
#the best way to mitigate the bias in analysis would be to delete them instead of imputing them

In [91]:
Engine_Type_Scrubbed=Engine_Type.dropna(subset=['Engine.Type']).copy()

In [92]:
#check out the new dataset

In [93]:
Engine_Type_Scrubbed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80266 entries, 0 to 90226
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Event.Id           80266 non-null  object
 1   Accident.Number    80266 non-null  object
 2   Engine.Type        80266 non-null  object
 3   Incident.Severity  80266 non-null  object
dtypes: object(4)
memory usage: 3.1+ MB

In [94]:
#this new dataframe is now ready for analysis

In [95]:
#Start by grouping Incident Severity by Engine Type